*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.header {
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-weight: bold;
    font-size: 20px;
}

body {
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;

    font-size: 16px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

main {
    margin: 30px 10px;
}

img{
    margin: 10px 10px;
}

.submit {
    width: 10em;
    height: 2em;
}